@tailwind base; /* Base styles */

@tailwind components; /* Component-specific styles */

@tailwind utilities; /* Utility classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset the default margin, padding, and box-sizing for all elements */

/* Layout styles */
.fixed-height {
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow-y: scroll; /* Enable vertical scrolling if content exceeds the height */
  background-color: #f5f5f5; /* Set a background color */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.ant-layout-sider-collapsed {
  flex: 0 0 50px !important; /* Set the fixed width when the sidebar is collapsed */
  max-width: 50px !important;
  min-width: 50px !important;
  width: 50px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.08); /* Add a shadow when the sidebar is collapsed */
}

.ant-menu-item-icon {
  font-size: 15px !important; /* Set the font size for menu item icons */
  opacity: 0.6 !important; /* Set opacity for menu item icons */
}

.ant-select-selection {
  background-color: #f5f5f5 !important; /* Set background color for select components */
}

.ant-input {
  border: none !important; /* Remove the default border from input elements */
  box-shadow: none !important; /* Remove box shadow from input elements */
}

.ant-tour-next-btn {
  background-color: #b1a5ff !important; /* Customize the background color for the tour's "Next" button */
}

.ant-tour-prev-btn {
  background-color: #fbe38e !important; /* Customize the background color for the tour's "Previous" button */
}

.ant-tour-inner {
  background-color: #f5f5f5 !important; /* Customize the background color for the tour's inner content */
}
